.explore-menu
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.explore-menu h1{
    font-weight: 500;
}
.explore-menu-text
{
    max-width: 60%;
}
.explore-menu-list
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow: auto;
    /* scrollbar-width: none; */
    /* scrollbar-color: transparent; */
}
.explore-menu-list::-webkit-scrollbar{
    display: none;
}
.explore-menu-list-item img{
    width: 7.5vw;
    min-width: 80px;
    border-radius: 50%;
    transition: 0.2s;
}
.explore-menu-list-item
{
    cursor: pointer;
}
.explore-menu-list-item p{
    margin-top: 10px;
    font-size: max(1.4vw, 16px);
}
.explore-menu hr{
    margin: 10px 0px;
    height: 2px;
    background-color: rgb(27, 27, 27);
    border: none;
}
.explore-menu-list-item .active{
    /* transform: scale(1.05); */
    border:4px solid tomato;
}
